@model ItemDetailsVM 

@{ 
    ViewData["Title"] = $"{Model.Title} Details";
    var mainImage = Model.Images.ElementAt(0);
}


<div id="detailsHolder">
    <h1>@Model.Title</h1>
    <figure>
        <img src="@mainImage.Url" alt="" />
        <figcaption>
            <p><b>Description: </b>@Model.Description</p>
            <h4><b>Size:&nbsp;</b>@Model.Size</h4>
            @if (Model.CommercialType == CommercialType.ForSale)
            {
                if (Model.IsAvailable)
                {
                    <h4>@Model.Price</h4>
                    <button>Buy</button>
                }
                else
                {
                    <button>Sold</button>
                }
            }
            else if (Model.CommercialType == CommercialType.Gift)
            {
                if (Model.IsAvailable)
                {
                    <button>Take It</button>
                }
                else
                {
                    <p>Given Away</p>
                }
            }
            else if (Model.CommercialType == CommercialType.Personal)
            {
                <h4 class="commTypeHL">Personal Collection</h4>
            }
        </figcaption>
    </figure>
</div>